{% extends "base.html" %}

{% block title %} Tienda online Registro {% endblock %}

{% block content %}

<div class="contenedor-formulario">
	<form method="POST">
	{% csrf_token %}
	<div class="contenedor-imagen">
		<input type="file" name="imagen" id="inputImg" onchange="cargarImagen(this)" style="display: none;">
		<label for="inputImg">
			<img src="../../static-storage/Imagenes/seleccionaImg.png" id="imagen" class="imagen" name="imagen">
		</label>
	</div>

	<div class="contenedor-datos">
		<div class="contenedor-controles">
			<label>Nombre</label>
			<input type="text" name="nombre" id="txtNombre">
			<button class="btn btn-primary fas fa-search" id="myInput" type="button" data-toggle="modal" data-target="#ventana1" onclick="cargarArticulos()"></button>
		</div>
		<div class="contenedor-controles">
			<label>Fecha</label>
			<input type="date" name="fecha" readonly="true">
		</div>
		<div class="contenedor-controles">
			<label>Tipo</label>
			<select id="cmbTipo" name="tipo">
				<option>Materia prima</option>
				<option>Producto terminado</option>
			</select>
		</div>
		<div class="contenedor-controles">
			<label>Descripcion</label>
			<textarea id="txtDescripcion" name="descripcion"></textarea>
		</div>
	</div>

	<button class="btn btn-success" onclick="guardar()" type="submit">Crear articulo</button>
	</form>
</div>

{% endblock %}