{% extends "base.html" %}

{% block title %} Etiquetador - Articulos{% endblock %}

{% block content %}
<div class="contenedor-formulario">
	<center>
	<h1>Registro de articulo</h1>
</center>
	<form method="POST">
	{% csrf_token %}
		<div class="contenedor-datos">
			<div class="contenedor-controles">
				<label>Nombre</label>
				{{ form.nombre }}
			</div>
			<div class="contenedor-controles">
				<label>Tipo</label>
				{{ form.tipo }}
			</div>
			<div class="contenedor-controles">
				<label>Descripcion</label>
				{{ form.descripcion }}
			</div>
		</div>
		<button class="btn btn-success" type="submit">Crear articulo</button>
	</form>
</div>
 
{% endblock %}