{% extends "base.html" %}

{% block title %} Etiquetador - Cliente{% endblock %}

{% block content %}

<div class="contenedor-formulario">
	<form method="POST">
<center>
	<h1>Registro de cliente</h1>
</center>
	{% csrf_token %}
	<div class="contenedor-datos">
		<div class="contenedor-controles">
			<label>Nombre</label>
			{{ form.nombre }}
		</div>
		<div class="contenedor-controles">
			<label>Descripcion</label>
			{{ form.descripcion }}
		</div>
		<div class="contenedor-controles">
			<label>Domicilio</label>
			{{ form.domicilio }}
		</div>
		<div class="contenedor-controles">
			<label>Telefono</label>
			{{ form.telefono }}
		</div>
	</div>
		<button class="btn btn-success" type="submit">Crear Empresa</button>
	</form>
</div>
 
{% endblock %}