{% extends "base.html" %}

{% block title %} Etiquetador - Compra{% endblock %}

{% block content %}

<div class="contenedor-formulario">
	<form method="POST">
	{% csrf_token %}
<center>
	<h1>Registro de compra</h1>
</center>
	<div class="contenedor-datos">
		<div class="contenedor-controles">
			<label>Articulo</label>
			{{ form.articulo }}
		</div>
		<div class="contenedor-controles">
			<label>Empresa Proveedora</label>
			{{ form.proveedor }}
		</div>
		<div class="contenedor-controles">
			<label>Cantidad</label>
			{{ form.cantidad }}
		</div>
		<div class="contenedor-controles">
			<label>Almacen de entrada</label>
			{{ form.almacen }}
		</div>
		<div class="contenedor-controles">
			<label>Descripcion</label>
			{{ form.descripcion }}
		</div>
	</div>
		<button class="btn btn-success" type="submit">Crear Compra</button>
	</form>
</div>

{% endblock %}