{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Etiquetador - Etiquetas{% endblock %}

{% block content %}

<center>
	<h1>Detalles de la etiqueta {{ ventaObj.id }}-{{ ventaObj.inventario.id }}-{{ ventaObj.cliente.id }}</h1>
</center>
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Datos de venta</h1>
			<table class="table table-hover table-dark">
				<thead><tr>
					<th>#</th>
					<th>Cantidad</th>
					<th>Fecha de venta</th>
				</tr></thead>
				<tbody><tr>
					<td>{{ ventaObj.id }}</td>
					<td>{{ ventaObj.cantidad }}</td>
					<td>{{ ventaObj.fechaCreacion }}</td>
				</tr></tbody>
			</table>
		</div>
		<div class="col">
			<h1>Datos de Almacen</h1>
			<table class="table table-hover table-dark">
				<thead><tr>
					<th>#</th>
					<th>Nombre</th>
				</tr></thead>
				<tbody><tr>
					<td>{{ almacenObj.id }}</td>
					<td>{{ almacenObj.nombre }}</td>
				</tr></tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Datos Cliente</h1>
			<table class="table table-hover table-dark">
				<thead><tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Descripcion</th>
				</tr></thead>
				<tbody><tr>
					<td>{{ ventaObj.cliente.id }}</td>
					<td>{{ ventaObj.cliente.nombre }}</td>
					<td>{{ ventaObj.cliente.descripcion }}</td>
				</tr></tbody>
			</table>
		</div>
		<div class="col">
			<h1>Datos Proveedor</h1>
			<table class="table table-hover table-dark">
				<thead><tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Descripcion</th>
				</tr></thead>
				<tbody><tr>
					<td>{{ compraObj.proveedor.id }}</td>
					<td>{{ compraObj.proveedor.nombre }}</td>
					<td>{{ compraObj.proveedor.descripcion }}</td>
				</tr></tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Datos del Articulo</h1>
			<table class="table table-hover table-dark">
				<thead><tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Descripcion</th>
				</tr></thead>
				<tbody><tr>
					<td>{{ ventaObj.articulo.id }}</td>
					<td>{{ ventaObj.articulo.nombre }}</td>
					<td>{{ ventaObj.articulo.descripcion }}</td>
				</tr></tbody>
			</table>
		</div>
		<div class="col">
			<h1>Datos de Compra</h1>
			<table class="table table-hover table-dark">
				<thead><tr>
					<th>#</th>
					<th>Cantidad</th>
					<th>Descripcion</th>
					<th>Fecha de compra</th>
				</tr></thead>
				<tbody><tr>
					<td>{{ compraObj.id }}</td>
					<td>{{ compraObj.cantidad }}</td>
					<td>{{ compraObj.descripcion }}</td>
					<td>{{ compraObj.fechaCreacion }}</td>
				</tr></tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}