{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Etiquetador - Etiquetas{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
			<center>
				<h1>Etiquetas</h1>
			</center>
			<table class="table table-hover table-dark">
				<thead>
					<tr>
						<th>Etiquetas</th>
					</tr>
				</thead>
				<tbody>
					{% for venta in obj %}
					<tr>
						<td><a href="{% url 'detallesEtiquetas_view' venta.id %}">{{ venta.id }}-{{ venta.inventario.id }}-{{ venta.cliente.id }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
<div>
{% endblock %}
