{% extends "base.html" %}

{% block title %} Tienda online {% endblock %}

{% block content %}

<div class="contenedor-principal">
	<h1 style="text-align:center;">Bienvenidos</h1>
</div>

{% endblock %}