{% extends "base.html" %}

{% block title %} Tienda online Registro {% endblock %}

{% block content %}

<div class="contenedor-logo">
	<i class="logo"></i>
</div>

<div class="contenedor-central">
	<div>
		<h1>Iniciar secion</h1>
	</div>
	<form>
		<div class="contendor-input">
			<label>Correo Electronico</label>
			<input type="text" name="">
		</div>
		<div class="contendor-input">
			<label>Contrasena</label>
			<input type="password" name="">
		</div>
		<div class="contendor-input">
			<button class="btn btn-success">Iniciar secion</button>
		</div>	
	</form>
</div>

{% endblock %}
