{% extends "base.html" %}

{% block title %} Etiquetador - Articulos{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
			<center>
	<h1>Lista de Inventario</h1>
</center>
			<table class="table table-hover table-dark">
				<thead>
					<thead>
						<tr>
							<td>#</td>
							<td>Articulo</td>
							<td>Almacen</td>
							<td>Cantidad</td>
							<td>Proveedor</td>
							<td>Fecha de compra</td>
						</tr>
					</thead>
				</thead>
				<tbody>
					{% for inv in object_list %}
					<tr>
						<td>{{ inv.id }}</td>
						<td>{{ inv.articulo }}</td>
						<td>{{ inv.almacen }}</td>
						<td>{{ inv.cantidad }}</td>
						<td>{{ inv.compra.proveedor }}</td>
						<td>{{ inv.compra.fechaCreacion }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
 
{% endblock %}