<table class="table table-hover table-dark">
	<tbody>
		<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>--</th>
			</tr>
		</thead>
		{% for articulo in listaArticulos %}
		<tr>
			<td>{{ articulo.id }}</td>
			<td>{{ articulo.nombre }}</td>
			<td onclick="colocarDatos(this)"><span class="fa fa-arrow-right"></span></td>
		</tr>
		{% endfor %}
	</tbody>
</table>