<table class="table table-hover table-dark">
	<tbody>
		<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Proveedor</th>
				<th>Compra</th>
				<th>Cantidad</th>
				<th>--</th>
			</tr>
		</thead>
		{% for inv in form %}
		<tr>
			<td>{{ inv.id }}</td>
			<td>{{ inv.almacen.nombre }}</td>
			<td>{{ inv.compra.proveedor }}</td>
			<td>{{ inv.compra.id }}</td>
			<td>{{ inv.cantidad }}</td>
			<td onclick="colocarDatosInv(this)"><span class="fa fa-arrow-right"></span></td>
		</tr>
		{% endfor %}
	</tbody>
</table>