{% extends "base.html" %}

{% block title %} Tienda online Registro {% endblock %}

{% block content %}

<div class="contenedor-logo">
	<i class="logo"></i>
</div>

<div class="contenedor-central">
	<div>
		<h1>Crea tu Cuenta</h1>
	</div>
	<form>
		<div class="contendor-input">
			<label>Tu nombre</label>
			<input type="text" name="">
		</div>
		<div class="contendor-input">
			<label>Correo Electronico</label>
			<input type="text" name="">
		</div>
		<div class="contendor-input">
			<label>Contrasena</label>
			<input type="password" name="">
		</div>
		<div class="contendor-input">
			<button class="btn btn-success">Crear tu cuenta</button>
		</div>	
	</form>
	<div class="contendor-input">
		<a href="{% url 'inicioSecion_view' %}">Inicia secion</a>
	</div>
</div>

{% endblock %}

