{% extends "base.html" %}

{% block title %} Tienda online Registro {% endblock %}

{% block content %}

<div class="contenedor-cabecero">
	<div class="baner">
		<input type="file" name="" onchange="establecerImg(this)">
		<i src=""></i>
	</div>
	<div class="baner-menu">
		<div class="contenedor-botones">
			<ul>
				<li>
					<button class="btn btn-primary">Mensaje</button>
				</li>
				<li>
					<button class="btn btn-success">Seguir</button>
				</li>
				<li>
					<button class="btn btn-danger">Reportar</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="contenedor-imagen-principal">
		<div class="contenedor-imagen">
			
		</div>
	</div>
	<div style="height: 50000px;">
		
	</div>
</div>

{% endblock %}