{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Etiquetador - Venta{% endblock %}

{% block content %}

<div class="contenedor-formulario">
	<form method="POST">
<center>
	<h1>Registro de venta</h1>
</center>
	{% csrf_token %}
	<div class="contenedor-datos">
		<div class="contenedor-controles">
			<label>Articulo</label>
			<input type="text" name="articulo" id="id_articulo" readonly="true">
			<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ventana1" onclick="listaArticulos()">Buscar</button>
		</div>
		<div class="contenedor-controles">
			<label>Almacen</label>
			<input type="text" name="inventario" id="id_inventario" readonly="true">
			<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#ventana1" onclick="cargarAlmacenes()">Buscar</button>
		</div>
		<div class="contenedor-controles">
			<label>Cantidad disponible</label>
			<input type="text" id="id_cantidadDisponible" readonly="true" value="0">
		</div>
		<div class="contenedor-controles">
			<label>Cantidad Venta</label>
			<input type="text" name="cantidad" id="id_cantidad" onkeypress="return soloNumeros(event)">
		</div>
		<div class="contenedor-controles">
			<label>Cliente</label>
			{{ form.cliente }}
		</div>
	</div>
		<button class="btn btn-success" type="button" onclick="guardarVenta()">Crear Venta</button>
	</form>
</div>
<script type="text/javascript" src="{% static 'Script/venta.js' %}"></script>
<script type="text/javascript">var tokenSeguridad = '{{ csrf_token }}';</script>

{% endblock %}