body, html{
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
}

.navbarLateral
{
	height: 100%;
	width: 10%;
	position: fixed;
}

.contenido
{
	width: 90%;
	margin-left: 10%;
	height: 100%;
}

.contenedor-guardar{
	width: 100%;
	display: inline-block;
}

.contenedor-formulario{
	width: 100%;
	height: 100%;
}

.contenedor-formulario button
{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.imagen{
	width: 250px;
	height: 250px;
	border-radius: 20%;
}

.contenedor-imagen{
	text-align: center;
	width: 30%;
	display: inline-block;
	float: left;
	margin-top: 10px;
}

.contenedor-datos{
	display: inline-block;
	width: 68%;
	float: left;
	margin-top: 10px;
}

.contenedor-datos div{
	width: 100%;
	margin-top: 20px;
}

.contenedor-controles
{
	width: 100%;
}

.contenedor-controles label
{
	width: 100%;
	margin: 0px;
}

.contenedor-controles input
{
	width: 50%;
}

.contenedor-controles textarea
{
	width: 70%;
	resize: none;
	height: 150px;
}

.contenedor-controles button
{
	display: inline-block;
	position: unset;
}