{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>

		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		
		<link href="{% static 'iconos/css/all.css' %}" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{% static 'Css-Propios/global.css' %}">
		<script type="text/javascript" src="{% static 'Script/articulos.js' %}"></script>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark navbarLateral" role="navigation">
			<a href="{% url 'articulo_view' %}" class="btn btn-dark">Articulos</a>
			<a href="{% url 'almacenVista_view' %}" class="btn btn-dark">Almacenes</a>
			<a href="{% url 'cliente_view' %}" class="btn btn-dark">Cliente</a>
			<a href="{% url 'proveedor_view' %}" class="btn btn-dark">Proveedor</a>
			<a href="{% url 'compraVista_view' %}" class="btn btn-dark">Compras</a>
			<a href="{% url 'venta_view' %}" class="btn btn-dark">Venta</a>
			<a href="{% url 'inventarioVista_view' %}" class="btn btn-dark">Inventario</a>
			<a href="{% url 'etiquetas_view' %}" class="btn btn-dark">Etiquetas</a>
		</nav>

		<div class="contenido">
			{% block content %}
			
			{% endblock %}
		</div>

		<!-- Modal -->
		<div class="modal fade" id="ventana1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="tituloModal">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" id="contenidoModal">
		        
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrarModal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
</html>